body {
  margin: 0;
  padding: 0;
  background-color: #E4E4E4;
  font-size: 15px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
a:hover {
  color: #000000;
}
img {
  vertical-align: middle;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
